# Homework 6, Part Two: A dataset about dogs.

Data from [a FOIL request to New York City](https://www.muckrock.com/foi/new-york-city-17/pet-licensing-data-for-new-york-city-23826/)

## Do your importing and your setup

In [1]:
import pandas as pd

/Users/emendenhall/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
import matplotlib.pyplot as plt

## Read in the file `NYC_Dog_Licenses_Current_as_of_4-28-2016.xlsx` and look at the first five rows

In [3]:
df = pd.read_excel('NYC_Dog_Licenses_Current_as_of_4-28-2016.xlsx')

## How many rows do you have in the data? What are the column types?

If there are more than 30,000 rows in your dataset, go back and only read in the first 30,000.

In [4]:
df.shape[0]

81937

In [5]:
df.shape[1]

15

In [6]:
df.dtypes

Owner Zip Code                     int64
Animal Name                       object
Animal Gender                     object
Primary Breed                     object
Secondary Breed                   object
Animal Dominant Color             object
Animal Secondary Color            object
Animal Third Color                object
Animal Birth              datetime64[ns]
Spayed or Neut                    object
Guard or Trained                  object
Vaccinated                        object
Application Date          datetime64[ns]
License Issued Date       datetime64[ns]
License Expired Date      datetime64[ns]
dtype: object

In [7]:
df.head()

,Owner Zip Code,Animal Name,Animal Gender,Primary Breed,Secondary Breed,Animal Dominant Color,Animal Secondary Color,Animal Third Color,Animal Birth,Spayed or Neut,Guard or Trained,Vaccinated,Application Date,License Issued Date,License Expired Date
0,10024,BLUE MACK,M,Unknown,AIREDALE TERR,BROWN,BLACK,NaN,2007-11-01,Yes,No,Yes,2012-09-19 16:01:19.647,2015-09-19,2016-09-19
1,10461,Indie Zephir,M,Rottweiler,NaN,BLACK,TAN,NaN,2013-04-01,No,No,Yes,2013-09-20 11:41:36.647,2014-09-20,2018-09-20
2,10013,Bilal,M,Australian Cattledog,NaN,Rust,NaN,NaN,2014-09-01,Yes,NaN,No,2014-09-12 13:13:36.713,2014-09-12,2019-09-12
3,10025,Buddy,M,Unknown,Cockapoo,BLOND,WHITE,NaN,2008-04-01,Yes,No,Yes,2014-09-12 15:26:51.417,2014-09-12,2017-10-20
4,10013,Ali,M,Basenji,NaN,Black,NaN,NaN,2014-01-01,No,NaN,No,2014-09-12 15:43:17.707,2014-09-12,2019-09-12

## Describe the dataset in words. What is each row? List two column titles along with what each of those columns means.

For example: “Each row is an animal in the zoo. `is_reptile` is whether the animal is a reptile or not”

In [11]:
# Each row represents a single dog.  
#The dataset gives demographic details about each one of the dogs such as their breed, color, 
#medical details, age, etc. For example, Animal Birth is the date the dog was born, and 
# Vaccinated details Yes or No about the dogs vaccination status.

# Your thoughts

Think of four questions you could ask this dataset. **Don't ask them**, just write them down in the cell below. Feel free to use either Markdown or Python comments.

1. Which zip codes have the most dogs registered within them?
2. What percentage of the dataset of dogs is a trained or guard dog?
3. Do most dogs have only one breed or are most dogs a mix?
4. What percentage of female dogs are spayed? males nutered?

# Looking at some dogs

## What are the most popular (primary) breeds of dogs? Graph the top 10.

In [37]:
df['Primary Breed'].value_counts().dropna().head(10)

Unknown                                 12894
Yorkshire Terrier                        5133
Shih Tzu                                 4727
Chihuahua                                3924
Maltese                                  2965
Labrador Retriever                       2872
American Pit Bull Terrier/Pit Bull       2153
American Pit Bull Mix / Pit Bull Mix     2029
Labrador Retriever Crossbreed            1864
Beagle                                   1438
Name: Primary Breed, dtype: int64

## "Unknown" is a terrible breed! Graph the top 10 breeds that are NOT Unknown

In [69]:
# df['Primary Breed' != 'Unknown'].value_counts().dropna().head(10)
# this is not working for some reason 


# df['Primary Breed'].ne['Unknown'].value_counts().dropna().head(10)
# also does not work for some reason

# df[df['Primary Breed'] != 'Unknown'].value_counts().head(10)
# also does not work, don't understand why not

# referencing https://pandas.pydata.org/pandas-docs/version/0.24.2/reference/api/pandas.DataFrame.ne.html

## What are the most popular dog names?

In [45]:
df['Animal Name'].value_counts().head()

UNKNOWN    742
Bella      527
Max        515
Charlie    403
Lola       387
Name: Animal Name, dtype: int64

## Do any dogs have your name? How many dogs are named "Max," and how many are named "Maxwell"?

In [48]:
df[df['Animal Name'] == 'Emily']

,Owner Zip Code,Animal Name,Animal Gender,Primary Breed,Secondary Breed,Animal Dominant Color,Animal Secondary Color,Animal Third Color,Animal Birth,Spayed or Neut,Guard or Trained,Vaccinated,Application Date,License Issued Date,License Expired Date
1265,11201,Emily,F,German Shepherd Crossbreed,NaN,Brindle,NaN,NaN,2014-08-01,Yes,NaN,Yes,2014-12-13 17:03:05.067,2014-12-13,2019-12-13
4291,10025,Emily,F,Pekingese,NaN,BLOND,BROWN,NaN,2007-01-01,Yes,No,Yes,2015-04-23 09:51:19.473,2015-04-23,2016-05-15
21357,11361,Emily,F,Golden Retriever,NaN,BLOND,NaN,NaN,2011-09-01,Yes,No,Yes,2015-07-20 10:07:53.247,2015-07-20,2016-08-06
22791,10024,Emily,F,Jack Russell Terrier,NaN,WHITE,BROWN,NaN,2012-11-01,Yes,No,Yes,2015-07-25 11:59:53.943,2015-07-25,2016-08-21
34240,11231,Emily,F,Terrier mix,NaN,Blond,White,NaN,2015-06-01,Yes,NaN,Yes,2015-09-10 11:39:53.170,2015-09-10,2018-09-10
38705,10023,Emily,F,Bull Terrier,NaN,WHITE,BLACK,NaN,2006-03-01,Yes,No,Yes,2015-10-03 18:12:27.227,2015-10-03,2016-09-17
38824,10473,Emily,F,Chihuahua,NaN,Tan,NaN,NaN,2015-06-01,Yes,NaN,Yes,2015-10-04 18:03:53.450,2015-10-04,2016-10-04
53416,10461,Emily,F,Labrador Retriever Crossbreed,NaN,BLACK,NaN,NaN,2009-12-01,Yes,No,Yes,2015-12-12 09:00:51.077,2015-12-12,2017-01-08
72126,10023,Emily,F,Labrador Retriever,NaN,BLACK,NaN,NaN,2012-03-01,Yes,No,Yes,2016-03-16 22:16:30.197,2016-03-16,2017-03-02
72844,11357,Emily,F,Cocker Spaniel,NaN,BLOND,WHITE,NaN,2007-11-01,Yes,No,Yes,2016-03-20 18:35:14.343,2016-03-20,2017-02-19
76733,10463,Emily,F,Unknown,Terrier Mix,TAN,WHITE,NaN,2008-04-01,Yes,No,Yes,2016-04-07 09:23:17.690,2016-04-07,2017-05-28
79321,10314,Emily,F,West High White Terrier,NaN,WHITE,NaN,NaN,2002-01-01,Yes,No,Yes,2016-04-18 17:33:10.260,2016-04-18,2017-05-30
80246,11385,Emily,F,Beagle,NaN,BLACK,WHITE,BROWN,2005-10-01,Yes,No,Yes,2016-04-21 16:47:38.520,2016-04-21,2017-05-15
80551,11378,Emily,F,Bichon Frise,NaN,White,Apricot,NaN,2006-05-01,Yes,No,Yes,2016-04-22 20:59:39.817,2016-04-22,2017-05-31

In [53]:
df[df['Animal Name'] == 'Max']['Animal Name'].count()

515

In [52]:
df[df['Animal Name'] == 'Maxwell']['Animal Name'].count()

30

## What percentage of dogs are guard dogs?

Check out the documentation for [value counts](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html).

In [54]:
df['Guard or Trained'].value_counts(normalize = True)

No     0.998971
Yes    0.001029
Name: Guard or Trained, dtype: float64

## What are the actual numbers?

In [55]:
df['Guard or Trained'].value_counts()

No     49525
Yes       51
Name: Guard or Trained, dtype: int64

## Wait... if you add that up, is it the same as your number of rows? Where are the other dogs???? How can we find them??????

Use your `.head()` to think about it, then you'll do some magic with `.value_counts()`

In [59]:
df['Guard or Trained'].count()
#rows = 81937

49576

In [60]:
df.head()

,Owner Zip Code,Animal Name,Animal Gender,Primary Breed,Secondary Breed,Animal Dominant Color,Animal Secondary Color,Animal Third Color,Animal Birth,Spayed or Neut,Guard or Trained,Vaccinated,Application Date,License Issued Date,License Expired Date
0,10024,BLUE MACK,M,Unknown,AIREDALE TERR,BROWN,BLACK,NaN,2007-11-01,Yes,No,Yes,2012-09-19 16:01:19.647,2015-09-19,2016-09-19
1,10461,Indie Zephir,M,Rottweiler,NaN,BLACK,TAN,NaN,2013-04-01,No,No,Yes,2013-09-20 11:41:36.647,2014-09-20,2018-09-20
2,10013,Bilal,M,Australian Cattledog,NaN,Rust,NaN,NaN,2014-09-01,Yes,NaN,No,2014-09-12 13:13:36.713,2014-09-12,2019-09-12
3,10025,Buddy,M,Unknown,Cockapoo,BLOND,WHITE,NaN,2008-04-01,Yes,No,Yes,2014-09-12 15:26:51.417,2014-09-12,2017-10-20
4,10013,Ali,M,Basenji,NaN,Black,NaN,NaN,2014-01-01,No,NaN,No,2014-09-12 15:43:17.707,2014-09-12,2019-09-12

In [61]:
df['Guard or Trained'].value_counts(dropna = False)

No     49525
NaN    32361
Yes       51
Name: Guard or Trained, dtype: int64

## Fill in all of those empty "Guard or Trained" columns with "No"

Then check your result with another `.value_counts()`

In [64]:
df['Guard or Trained'].fillna('No').value_counts()

No     81886
Yes       51
Name: Guard or Trained, dtype: int64

## What are the top dog breeds for guard dogs?

In [67]:
df[df['Guard or Trained'] == 'Yes']['Primary Breed'].value_counts().head()

Unknown                                 11
German Shepherd Dog                      4
Labrador Retriever                       3
Chihuahua                                3
American Pit Bull Mix / Pit Bull Mix     3
Name: Primary Breed, dtype: int64

## Create a new column called "year" that is the dog's year of birth

The `Animal Birth` column is a datetime, so you can get the year out of it with the code `df['Animal Birth'].apply(lambda birth: birth.year)`.

In [68]:
df['year'] = df['Animal Birth'].apply(lambda birth: birth.year)

## Calculate a new column called “age” that shows approximately how old the dog is. How old are dogs on average?

In [72]:
# referencing this https://www.geeksforgeeks.org/convert-birth-date-to-age-in-pandas/ 

# from datetime import datetime, date

# maybe we are not supposed to go this in depth?

In [73]:
df['age'] = 2021 - df['year']

In [75]:
df['age'].mean().round()

11.0

# Joining data together

## Which neighborhood does each dog live in?

You also have a (terrible) list of NYC neighborhoods in `zipcodes-neighborhoods.csv`. Join these two datasets together, so we know what neighborhood each dog lives in. **Be sure to not read it in as `df`, or else you'll overwrite your dogs dataframe.**

## What is the most popular dog name in all parts of the Bronx? How about Brooklyn? The Upper East Side?

## What is the most common dog breed in each of the neighborhoods of NYC?

## What breed of dogs are the least likely to be spayed? Male or female?

## Make a new column called monochrome that is True for any animal that only has black, white or grey as one of its colors. How many animals are monochrome?

## How many dogs are in each borough? Plot it in a graph.

## Which borough has the highest number of dogs per-capita?

You’ll need to merge in `population_boro.csv`

## Make a bar graph of the top 5 breeds in each borough.

How do you groupby and then only take the top X number? You **really** should ask me, because it's kind of crazy.

## What percentage of dogs are not guard dogs?